.item-4, .item-3, .item-2, .item-1 {
  background-color: #FBEAFF;
  flex-direction: column;
  justify-content: center;
  display: flex;
  align-items: center;
  width: 23%;
  height: 60vh;
  border: #B0A8B9 solid 3px;
  border-radius: 10px;
}

.sales-item-4, .sales-item-3, .sales-item-2, .sales-item-1 {
  background-color: #FBEAFF;
  flex-direction: column;
  justify-content: center;
  display: flex;
  align-items: center;
  width: 23%;
  height: 6 65vh;
  border: #B0A8B9 solid 3px;
  border-radius: 10px;
}

.img-4, .img-3, .img-2, .img-1 {
  width: 100%;
  height: 55vh;
}

.sales-img-4, .sales-img-3, .sales-img-2, .sales-img-1 {
  width: 100%;
  height: 50vh;
}

.categorias-4, .categorias-3, .categorias-2, .categorias-1 {
  background-color: #FBEAFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #B0A8B9 solid 3px;
  border-radius: 10px;
  height: 75vh;
  width: 100%;
}
.categorias-4 p, .categorias-3 p, .categorias-2 p, .categorias-1 p {
  font-size: 1.5rem;
  font-weight: 600;
}

.text {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #ccbbcf;
  border-radius: 0 0 10px 10px;
}

.text-sales {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #ccbbcf;
  border-radius: 0 0 10px 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #B4A7B7;
}

a {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  list-style-type: none;
  text-decoration: none;
  color: black;
  font-size: medium;
}

nav a:hover {
  color: #B4A7B7;
}

h1 {
  font-family: "Merriweather", serif;
  font-weight: 700;
  display: flex;
  justify-content: center;
}

h2 {
  font-family: "Merriweather", serif;
  font-weight: 700;
  display: flex;
  justify-content: center;
}

h4 {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
}

p {
  font-family: "Inter", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

nav a {
  padding-right: 10px;
  font-size: medium;
}

.container-img-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.img-header {
  height: 80px;
}

.presentation {
  width: 100%;
}

.categorias {
  width: 99%;
  margin-bottom: 5rem;
  padding-bottom: 5rem;
  margin-left: 0.4rem;
  display: grid;
  gap: 1.5rem;
  grid-template-areas: " categorias-title categorias-title " " categorias-grid-1  categorias-grid-2 " " categorias-grid-3  categorias-grid-4 ";
}

@media screen and (max-width: 768px) {
  .categorias {
    margin-left: none;
    display: grid;
    gap: 1.5rem;
    grid-template-areas: ". categorias-title ." ". categorias-grid-1 ." ". categorias-grid-2 ." ". categorias-grid-3 ." ". categorias-grid-4 .";
  }
  .categorias-1 {
    height: 60vh !important;
  }
  .categorias-2 {
    height: 60vh !important;
  }
  .categorias-3 {
    height: 60vh !important;
  }
  .categorias-4 {
    height: 60vh !important;
  }
  .img-categorias {
    height: 40vh !important;
  }
  .categorias-text {
    height: 20vh;
  }
}
.categorias-1 {
  grid-area: categorias-grid-1;
  transition: all 0.2s ease-in-out;
}
.categorias-1:hover {
  transform: scale(1.01);
}

.categorias-2 {
  grid-area: categorias-grid-2;
  transition: all 0.2s ease-in-out;
}
.categorias-2:hover {
  transform: scale(1.01);
}

.categorias-3 {
  grid-area: categorias-grid-3;
  transition: all 0.2s ease-in-out;
}
.categorias-3:hover {
  transform: scale(1.01);
}

.categorias-4 {
  grid-area: categorias-grid-4;
  transition: all 0.2s ease-in-out;
}
.categorias-4:hover {
  transform: scale(1.01);
}

.categorias-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20vh;
  background-color: #ccbbcf;
  border-radius: 0 0 10px 10px;
}

.img-categorias {
  width: 100%;
  height: 55vh;
}

.categorias-title {
  font-size: 3rem;
  grid-area: categorias-title;
  margin-top: 5rem;
  padding-top: 4rem;
}

.sales {
  margin-bottom: 10rem;
}
.sales h2 {
  font-size: 3rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  grid-area: products-title;
}

.sales-item-1 {
  grid-area: item-1;
  transition: all 0.5s ease-in-out;
}
.sales-item-1:hover {
  transform: scale(1.1);
}

.sales-item-2 {
  grid-area: item-2;
  transition: all 0.5s ease-in-out;
}
.sales-item-2:hover {
  transform: scale(1.1);
}

.sales-item-3 {
  grid-area: item-3;
  transition: all 0.5s ease-in-out;
}
.sales-item-3:hover {
  transform: scale(1.1);
}

.sales-item-4 {
  grid-area: item-4;
  transition: all 0.5s ease-in-out;
}
.sales-item-4:hover {
  transform: scale(1.1);
}

.images {
  display: flex;
  justify-content: center;
}

.price-1 {
  color: #4B4453;
  text-decoration: line-through;
}

.price-2 {
  color: #623892;
  text-decoration: none;
}

@media screen and (max-width: 995px) {
  .images {
    display: grid;
    row-gap: 5vh;
    grid-template-areas: "item-1 . item-2" "item-3 . item-4";
  }
  .sales-item-1 {
    width: 45vw;
    height: 50vh;
  }
  .sales-item-2 {
    width: 45vw;
    height: 50vh;
  }
  .sales-item-3 {
    width: 45vw;
    height: 50vh;
  }
  .sales-item-4 {
    width: 45vw;
    height: 50vh;
  }
  .sales-img-1 {
    height: 30vh;
  }
  .sales-img-2 {
    height: 30vh;
  }
  .sales-img-3 {
    height: 30vh;
  }
  .sales-img-4 {
    height: 30vh;
  }
  .text-sales {
    height: 20vh;
  }
  .text-sales h4 {
    font-size: medium;
  }
  .text-sales p {
    font-size: small;
    margin-bottom: 0;
  }
}
.locales-container {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  background-color: #9A99B0;
  display: grid;
  gap: 1.5vh;
  grid-template-areas: ". . locales-header . . " ". congreso belgrano caballito .";
}
.locales-container h2 {
  margin-top: 30px;
  margin-bottom: 10px;
  grid-area: locales-header;
  font-size: 3rem;
}
.locales-container p {
  font-size: 2rem;
}

.img-locales {
  width: 30vw;
  height: 50vh;
  border-radius: 5px;
}

.congreso {
  width: 100%;
  background-color: #B0A8B9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: #B0A8B9 solid 3px;
  border-radius: 10px;
  grid-area: congreso;
}

.belgrano {
  width: 100%;
  background-color: #B0A8B9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: #B0A8B9 solid 3px;
  border-radius: 10px;
  grid-area: belgrano;
}

.caballito {
  width: 100%;
  background-color: #B0A8B9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: #B0A8B9 solid 3px;
  border-radius: 10px;
  grid-area: caballito;
}

@media screen and (max-width: 1000px) {
  .locales-container {
    grid-template-areas: ". locales-header ." ". congreso ." ". belgrano ." ". caballito .";
  }
  .img-locales {
    width: 90vw !important;
    height: 50vh !important;
  }
}
.marcas {
  width: 100%;
  margin-top: 10rem;
  padding-top: 1rem;
  padding-bottom: 3rem;
  display: grid;
  grid-template-areas: "marcas-title marcas-title marcas-title marcas-title" "akai focusrite sennheiser shure" "marcas-text marcas-text marcas-text marcas-text";
}

.marcas-title {
  margin-bottom: 1rem;
  grid-area: marcas-title;
}

.akai {
  grid-area: akai;
}

.focusrite {
  grid-area: focusrite;
}

.sennheiser {
  grid-area: sennheiser;
}

.shure {
  grid-area: shure;
}

.img-marcas-container {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}

.img-marcas {
  width: 20%;
  margin: 1rem 0;
}

.marcas-text {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  grid-area: marcas-text;
}

@media screen and (max-width: 995px) {
  .marcas {
    margin-top: none !important;
    padding-top: none !important;
  }
}
.container {
  margin-bottom: 5rem;
}
.container h1, .container h2 {
  font-size: 40px;
  margin-top: 3rem;
  margin-bottom: 2rem;
  grid-area: products-title;
}

.item-1 {
  grid-area: item-1;
}

.item-2 {
  grid-area: item-2;
}

.item-3 {
  grid-area: item-3;
}

.item-4 {
  grid-area: item-4;
}

.images {
  display: flex;
  justify-content: center;
}

.price {
  color: #4B4453;
}

@media screen and (max-width: 995px) {
  h4 {
    font-size: medium;
  }
  p {
    font-size: small;
  }
  .images {
    display: grid;
    grid-template-areas: "item-1 item-2" "item-3 item-4";
  }
  .item-1, .item-2, .item-3, .item-4 {
    width: 45vw;
    height: 50vh;
  }
  .img-1, .img-2, .img-3, .img-4 {
    height: 30vh;
  }
  .text {
    height: 20vh;
  }
}
.locales {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.locales-grid {
  display: grid;
  row-gap: 1.5rem;
  grid-template-areas: " . congreso-grid-2  congreso-text  congreso-text . " " . belgrano-text   belgrano-text  belgrano-grid-2 . " " . caballito-grid-2 caballito-text caballito-text . ";
}

.congreso-grid-2 {
  grid-area: congreso-grid-2;
}

.belgrano-grid-2 {
  grid-area: belgrano-grid-2;
}

.caballito-grid-2 {
  grid-area: caballito-grid-2;
}

.congreso-text {
  grid-area: congreso-text;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.belgrano-text {
  grid-area: belgrano-text;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.caballito-text {
  grid-area: caballito-text;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.locales-2-text {
  height: 60vh;
  background-color: #4B4453;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  padding-bottom: 2rem;
}
.locales-2-text h2 {
  font-size: 2rem;
  padding-bottom: 10vh;
}
.locales-2-text a {
  font-size: 2rem;
  font-family: merriweather-header;
  font-weight: 300;
}

.img-locales-2 {
  width: 100%;
  height: 60vh;
}

h1 {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
  .img-locales-2, .congreso-grid-2, .belgrano-grid-2, .caballito-grid-2 {
    display: none;
  }
  .locales-2-text {
    height: 40vh;
    font-size: 0.8rem;
    padding-bottom: none;
    width: 100%;
    border-radius: 10px;
  }
  h2 {
    font-size: 1.5rem;
    padding-bottom: none;
    margin-top: 10vh;
  }
  .link-locales {
    font-size: 1.5rem;
    padding-bottom: none;
  }
  .locales-grid {
    width: 100%;
    display: grid;
    grid-template-areas: ". congreso-text  ." ". belgrano-text  ." ". caballito-text  .";
  }
}
.container-contacto {
  margin-top: 5vh;
  margin-bottom: 5vh;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-box {
  width: 850px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #FBEAFF;
}

.mensaje {
  padding: 25px 40px;
}

.header-contact {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.field {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
  background-color: #ccbbcf;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  margin-bottom: 25px;
}

textarea {
  height: 150px;
}

.boton {
  width: 40%;
  height: 10vh;
  background-color: #B0A8B9;
  color: #fff;
  font-size: 1.1rem;
  border: none;
}
.boton:hover {
  background-color: #845EC2;
}

@media screen and (max-width: 768px) {
  .contact-box {
    width: 100%;
  }
  .field {
    width: 80%;
  }
  .mensaje {
    width: 100%;
    padding-bottom: 25px;
  }
}
footer {
  width: 100%;
  background-color: #845EC2;
  display: flex;
  justify-content: space-between;
}
footer section {
  display: flex;
  align-items: center;
  list-style: none;
  font-weight: 600;
  color: black;
  font-size: medium;
}

.img-footer {
  width: 20px;
}

.footer-social {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  grid-area: social;
}

.footer-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  grid-area: info;
}

.footer-nav {
  list-style-type: none;
  margin: none;
  padding: none;
}

.fb {
  grid-area: facebook;
}

.tw {
  grid-area: twitter;
}

.ig {
  grid-area: instagram;
}

.wpp {
  grid-area: whatsapp;
}

.footer-email {
  grid-area: footer-email;
}

.footer-loc {
  grid-area: location;
}

@media screen and (max-width: 768px) {
  .fb {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
  }
  .tw {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
  }
  .ig {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
  }
  .wpp {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
  }
  footer nav {
    display: none;
  }
  footer {
    width: 100%;
  }
  .footer-social {
    width: 100%;
    display: flex;
    justify-content: center;
    display: grid;
    gap: 1.5rem;
    grid-template-areas: "facebook instagram twitter whatsapp";
  }
  .footer-info {
    width: 100%;
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-areas: "footer-email footer-email " "location location ";
  }
  .footer-responsive {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
