.marcas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10rem;
    padding-top: 1rem;
    padding-bottom: 3rem;
    display: grid;
    grid-template-areas: 
    "marcas-title marcas-title marcas-title marcas-title"
    "akai focusrite sennheiser shure"
    "marcas-text marcas-text marcas-text marcas-text";
}

.marcas-title {

    margin-bottom: 1rem;
    grid-area: marcas-title;

}
.akai{
    grid-area: akai;
}

.focusrite{
    grid-area: focusrite;
}

.sennheiser{
    grid-area: sennheiser;
}

.shure{
    grid-area: shure;
}


.img-marcas-container {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}

.img-marcas {
    width: 20%;
    margin: 1rem 0;
}

.marcas-text {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    grid-area: marcas-text;

}