.presentation{
    width: 100%;
}

.categorias {
    width: 99%;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding-top: 4rem;
    padding-bottom: 5rem;
    margin-left: 0.4rem;

    display: grid;
    gap: 1.5rem;
    grid-template-areas: 
    " categorias-title categorias-title "
    " categorias-grid-1  categorias-grid-2 "
    " categorias-grid-3  categorias-grid-4 ";

}

@media screen and (max-width: 768px) {

    .categorias {

        margin-left: 2rem;
        width: 90%;
        display: grid;
        gap: 1.5rem;
        grid-template-areas: 
        "categorias-title"
        "categorias-grid-1"  
        "categorias-grid-2"
        "categorias-grid-3"  
        "categorias-grid-4";

    }


}

.categorias-grid-1{
    grid-area: categorias-grid-1;
}
.categorias-grid-2{
    grid-area: categorias-grid-2;

}
.categorias-grid-3{
    grid-area: categorias-grid-3;

}
.categorias-grid-4{
    grid-area: categorias-grid-4;

}

.categorias-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p{
        margin-top: .5rem;
        margin-bottom: 2rem;
        font-size: 1.5rem;
        font-weight: 600;
    }
}

.img-categorias{
    width: 100%;
}

.categorias-title {
    font-size: 3rem;
    grid-area: categorias-title;

}