.presentation{
    width: 100%;
}

.categorias {
    width: 99%;
    margin-bottom: 5rem;
    padding-bottom: 5rem;
    margin-left: 0.4rem;

    display: grid;
    gap: 1.5rem;
    grid-template-areas: 
    " categorias-title categorias-title "
    " categorias-grid-1  categorias-grid-2 "
    " categorias-grid-3  categorias-grid-4 ";

}

@media screen and (max-width: 768px) {

    .categorias {

        margin-left: 2rem;
        width: 90%;
        display: grid;
        gap: 1.5rem;
        grid-template-areas: 
        "categorias-title"
        "categorias-grid-1"  
        "categorias-grid-2"
        "categorias-grid-3"  
        "categorias-grid-4";

    }
}



.categorias-1 {
    @extend %categorias;
    grid-area: categorias-grid-1;


}
.categorias-2 {
    @extend %categorias;
    grid-area: categorias-grid-2;


}
.categorias-3 {
    @extend %categorias;
    grid-area: categorias-grid-3;


}
.categorias-4 {
    @extend %categorias;
    grid-area: categorias-grid-4;


}



.categorias-text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
    background-color: #ccbbcf;
    border-radius: 0 0 10px 10px;

}
.img-categorias{
    width: 100%;
    height: 55vh;
}

.categorias-title {
    font-size: 3rem;
    grid-area: categorias-title;
    margin-top: 5rem;
    padding-top: 4rem;


}