@import "../base/colors";


.locales {

    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;

}


.locales-grid {
    display: grid;
    row-gap: 1.5rem;
    grid-template-areas:
        " . congreso-grid-2  congreso-text  congreso-text . "
        " . belgrano-text   belgrano-text  belgrano-grid-2 . "
        " . caballito-grid-2 caballito-text caballito-text . ";
}

.congreso-grid-2 {
    grid-area: congreso-grid-2;
}

.belgrano-grid-2 {
    grid-area: belgrano-grid-2;
}

.caballito-grid-2 {
    grid-area: caballito-grid-2;
}

.congreso-text {
    grid-area: congreso-text;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.belgrano-text {
    grid-area: belgrano-text;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caballito-text {
    grid-area: caballito-text;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.locales-2-text {
    height: 60vh;
    background-color: #4B4453;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    padding-bottom: 2rem;

    h2 {
        font-size: 2rem;
        padding-bottom: 10vh;
    }
    a{
        font-size: 2rem;
        font-family: merriweather-header;
        font-weight: 300;

    }
}

.img-locales-2 {
    width: 100%;
    height: 60vh;
}

h1 {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 3rem;
    font-family: merriweather-header;
    margin-top: 2rem;
    margin-bottom: 2rem;

}

@media screen and (max-width: 768px) {

    .img-locales-2, .congreso-grid-2, .belgrano-grid-2, .caballito-grid-2 {
        display: none;
    }

    .locales-2-text {
        height: 40vh;
        font-size: 0.8rem;
        padding-bottom: none;
        width: 100%;
        border-radius: 10px;
    }

    h2{

        font-size: 1.5rem;
        padding-bottom: none;
        margin-top: 10vh;
    }

    .link-locales{
        font-size: 1.5rem;
        padding-bottom: none;

    }
    


    .locales-grid {
        width: 100%;
        display: grid;
        grid-template-areas:
            ". congreso-text  ."
            ". belgrano-text  ."
            ". caballito-text  .";
    }
}