@import  "../base/fonts";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: $bg-body;

}


a {
    font-family: $inter;
    font-weight: 700;
    list-style-type: none;
    text-decoration: none;
    color: black;
    font-size: medium;

}

nav a{

    &:hover{
        color: $bg-body;
    }
}
h1{
    font-family: $merriweather;
    font-weight: 700;
    display: flex;
    justify-content: center;
}
h2 {
    font-family: $merriweather;
    font-weight: 700;
    display: flex;
    justify-content: center;
}

h4{
    font-family: $inter;
    font-size: 1.2rem;
}

p {
    font-family: $inter;
}


