.locales-container {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    background-color: #9A99B0;
    display: grid;
    gap: 1.5rem;
    grid-template-areas:
        ". . locales-header . . "
        ". congreso belgrano caballito .";

    h2 {
        margin-top: 30px;
        margin-bottom: 10px;
        grid-area: locales-header;
        font-size: 3rem;
    }

    p {
        font-size: 2rem;
    }

}

.img-locales {
    width: 30vw;
    height: 50vh;
    border-radius: 5px;
}


.congreso {
    @include locales(congreso)
}

.belgrano {
    @include locales(belgrano)
}

.caballito {
    @include locales(caballito)
}

@media screen and (max-width: 1000px) {

    .locales-container {

        grid-template-areas:
            ". locales-header ."
            ". congreso ."
            ". belgrano ."
            ". caballito .";

    }

    .img-locales {
        width: 90vw !important;
        height: 50vh !important;
    }
}