@import "../base/colors";


.container{
    margin-bottom: 5rem;

    h1, h2{
        font-size: 40px;
        margin-top: 3rem;
        margin-bottom: 2rem;
        grid-area: products-title;
    }
}
.item-1 {
    @extend %items;
    grid-area: item-1;
}

.item-2{
    @extend %items;
    grid-area: item-2;
}

.item-3{
    @extend %items;
    grid-area: item-3;
}

.item-4{
    @extend %items;
    grid-area: item-4;
}

.images{
    display: flex;
    justify-content: center;
}

.img-1{
    @extend %products;
}
.img-2{
    @extend %products;
}
.img-3{
    @extend %products;
}
.img-4{
    @extend %products;
}



.text{
    @extend %text;

}

.price{
    color: #4B4453;
}

@media screen and (max-width: 995px) {


    
    .images{
        display: grid;
        grid-template-areas: 
        "item-1 item-2"
        "item-3 item-4";
    }

    .item-1, .item-2, .item-3, .item-4{
        width: 45vw;
        height: 50vh;
    }

    .img-1, .img-2, .img-3, .img-4{
        height: 45vh;
    }

    .text{
        height: 25vh;
    }
    
}