.sales {
    margin-bottom: 10rem;

    h2 {
        font-size: 3rem;
        margin-top: 3rem;
        margin-bottom: 2rem;
        grid-area: products-title;

    }
}

.sales-item-1 {
    @include animation(1.1);
    @extend %items-2;
    grid-area: item-1;

}

.sales-item-2 {
    @include animation(1.1);
    @extend %items-2;
    grid-area: item-2;

}

.sales-item-3 {
    @include animation(1.1);
    @extend %items-2;
    grid-area: item-3;

}

.sales-item-4 {
    @include animation(1.1);
    @extend %items-2;
    grid-area: item-4;

}

.images {
    display: flex;
    justify-content: center;
}

.sales-img-1 {
    @extend %products-2;
}

.sales-img-2 {
    @extend %products-2;
}

.sales-img-3 {
    @extend %products-2;
}

.sales-img-4 {
    @extend %products-2;

}




.text-sales {
    @extend %text-2;
}

.price-1 {
    @include price(#4B4453, line-through);

}

.price-2 {
    @include price(#623892, none);
}

@media screen and (max-width: 995px) {



    .images {
        display: grid;
        row-gap: 5vh;
        grid-template-areas:
            "item-1 . item-2"
            "item-3 . item-4";
    }

    .sales-item-1 {
        width: 45vw;
        height: 50vh;
    }

    .sales-item-2 {
        width: 45vw;
        height: 50vh;

    }

    .sales-item-3 {
        width: 45vw;
        height: 50vh;

    }

    .sales-item-4 {
        width: 45vw;
        height: 50vh;

    }

    .sales-img-1 {
        height: 30vh;
    }
    
    .sales-img-2 {
        height: 30vh;
    }
    
    .sales-img-3 {
        height: 30vh;
    }
    
    .sales-img-4 {
        height: 30vh;
    
    }

    .text-sales{
        height: 20vh;
        h4{
            font-size: medium
        }
        p{
            font-size: small;
            margin-bottom: 0;
        }
    }

}