
%items{
    background-color: $bg-products;
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 23%;
    height: 60vh;
    border: $border-products solid 3px;
    border-radius: 10px;

}
%items-2{
    background-color: $bg-products;
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 23%;
    height: 6
    65vh;
    border: $border-products solid 3px;
    border-radius: 10px;
}
%products{
    width: 100%;
    height: 55vh;
}
%products-2{
    width: 100%;
    height: 50vh;
}

%categorias{
    background-color: $bg-products;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: $border-products solid 3px;
    border-radius: 10px;
    height: 75vh;
    width: 100%;

    p{
        font-size: 1.5rem;
        font-weight: 600;
    }
}

%text{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #ccbbcf;
    border-radius: 0 0 10px 10px;
}
%text-2{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #ccbbcf;
    border-radius: 0 0 10px 10px;
}
