@font-face {
    font-family: merriweather-header;
    src: url(../../fonts/Merriweather/Merriweather-Black.ttf);
}

@font-face {
    font-family: oswald-regular;
    src: url(../../fonts/Oswald/static/Oswald-Regular.ttf);
}